<body>
    <nav class="navbar is-link">
        <div class="navbar-brand">
            <a class="navbar-item" target="_blank" href="https://arthur.knoepflin.eu">
            <img src="/assets/img/icon.png" alt="Torrent Scrapper" width="30" height="28">
            </a>
            <div class="navbar-burger burger" data-target="navBar">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navBar" class="navbar-menu">
            <div class="navbar-start">
            <% if (is_connected) { %>
                <a class="navbar-item" href="/">
                    <%= __("Home") %>
                </a>
                <% if (menu) {
                    menu.forEach(function(elem) { %>
                    <a class="navbar-item" href="<%= elem.url %>"<% if (elem.new_tab) { %> target="_blank"<% } %>>
                        <%= elem.text %>
                    </a>
                <% });
                } %>
            <% } else { %>
                <a class="navbar-item" href="/login">
                    <%= __("Connection") %>
                </a>
            <% } %>
            </div>

            <div class="navbar-end">
                <% if (is_connected) { %>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link"><%= __("Settings") %></a>
                    <div class="navbar-dropdown is-boxed is-right">
                        <a class="navbar-item" href="/config/account"><%= __("Account") %></a>
                        <a class="navbar-item" href="/config/sources"><%= __("Sources") %></a>
                        <a class="navbar-item" href="/config/dlsoft"><%= __("Downloading software") %></a>
                        <a class="navbar-item" href="/config/menu"><%= __("Menu") %></a>
                        <hr class="navbar-divider">
                        <a class="navbar-item is-danger" href="/logout"><%= __("Disconnect") %></a>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </nav>
    <%- include(view_i) %>
    <footer class="footer fix-footer">
        <div class="container">
            <div class="content has-text-centered">
            <p>
                <strong>Torrent scrapper</strong> <%= __("is a project")%> <a href="https://github.com/ArthurKnoep">open source</a> <%= __("developped by") %> Arthur Knoepflin.<br>
                <%- __("This project use Bulma CSS framework") %>
            </p>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/assets/js/setup.js"></script><%
if (typeof custom_scripts !== "undefined") {
    custom_scripts.forEach(function(elem) { %>
    <script src="<%= elem %>"></script>
    <% });
}%>
</body>