<div class="container">
    <div class="spacer"></div>
    <div class="box" style="margin:10px;padding:20px">
        <h2 class="title has-text-centered"><%= __("You need to login to %s", title_page) %></h2>
        <div class="field">
            <label class="label"><%= __("Login") %></label>
            <input class="input is-medium" type="test" placeholder="<%= __("Login ...") %>" id="login">
        </div>
        <div class="field">
            <label class="label"><%= __("Password") %></label>
            <input class="input is-medium" type="password" placeholder="<%= __("Password...") %>" id="password" autocomplete="current-password">
        </div>
        <div class="field">
            <label class="label">
                <input type="checkbox" name="remember"> <%= __("Remember me") %>
            </label>
        </div>
        <div class="field">
            <p class="control">
                <input type="submit" class="button is-link" value="<%= __("Connection") %>">
            </p>
        </div>
    </div>
</div>